
# modules
/node_modules/
/backend/node_modules/
/client/node_modules/
/backend/tmp/

# config data
/backend/config/config.js

# map after
*.map

# other
bundle.js


# Optional npm cache directory
.npm
