
# modules
/node_modules/
/backend/node_modules/
/client/node_modules/
/backend/tmp/

# backend config data
/backend/config/config.js

# map after
*.map

# other
bundle.js

# css style
/client/antd.css
/client/style/style.scss

# Optional npm cache directory
.npm
